alembic
bcrypt
blinker
certifi
charset-normalizer
click
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
gunicorn
honcho
idna
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
PyJWT
python-dotenv
pytest
requests
SQLAlchemy
typing_extensions
urllib3
waitress
Werkzeug
